[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
gevent = "*"
flower = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2 = "*"
psycopg2-binary = "*"
kafka-python = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
model-bakery = "*"

[requires]
python_version = "3.9"
