celery==5.3.6
flower==2.0.1
coverage==7.4.0
dj-database-url==2.1.0
Django==4.2.10
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-filter==23.5
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
drf-nested-routers==0.93.5
firebase_admin==7.0.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.2.0
gunicorn==21.2.0
model-bakery==1.17.0
pillow==10.2.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
pytest==7.4.4
pytest-cov==4.1.0
pytest-django==4.7.0
python-dateutil==2.8.2
python-dotenv==1.0.1
redis==5.0.1
requests==2.31.0
twilio==9.7.0
whitenoise==6.6.0
